<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Panel technika</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/mainStylesheet.css" type="text/css">
</head>
<body>

<div class="sidenav">
    <a href="/techniciansPanel/addDevice">Dodaj urządzenie</a>
    <a href="/techniciansPanel/listOfDevices">Lista urządzeń</a>
    <a href="/logout">Wyloguj</a>
</div>

<div class="content">

</div>

</body>
</html>
